.small_card {
  width: 300px;
  border-radius: 32px;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  transition: box-shadow 0.3s ease-in;
  &:hover {
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 1);
  }
  &__img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    align-self: center;
  }
  &__heart {
    background-color: transparent;
    border: none;
    path {
      fill: rgb(215, 210, 210);
      &:hover {
        fill: rgb(253, 171, 185);
      }
    }
  }
}
